# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
ENV/

# Global binary/media exclusions
*.pdf
*.png
*.jpg
*.jpeg
*.webp
MangaWikiPersonal/Proyectos/**/PDF_Original/

# Exclude temp upload directories
temp_uploads/

# IDE configurations
.idea/
.vscode/
